mixin navigation
  nav
    a(href="/")
      b World Database
    a(href="/gallery") Gallery
    a(href="/cities") Data
    a(href="/about") About
    a(href="/update") Update
    a(href="/login") Login 
    a(href="/register") Register
    a(href="/account") Account