extends layout

block head
  link(rel="stylesheet", href="/about.css")

block content
  h1 About Us

  p This page is here to give you a short run down of what we're all about. Our goal is to create a simple solution to many people's problems by providing accurate, reliable information in an easy-to-use format.

  h2 Meet the Team

  .about
    .profile
      img(src="https://i.pravatar.cc/150?img=4", alt="Krystian Mowinski")
      h3 Krystian Mowinski
      p Krystian Mowinski is a dedicated content creator and editor who works tirelessly to ensure the website provides accurate and reliable information to users.

    .profile
      img(src="https://i.pravatar.cc/150?img=2", alt="Abdi")
      h3 Abdi
      p Abdi is a skilled writer and editor who brings their expertise to create engaging content that keeps users coming back for more.

    .profile
      img(src="https://i.pravatar.cc/150?img=3", alt="Bayram Tosun")
      h3 Bayram Tosun
      p bayram Tosun is a talented web developer who designed and built the website, ensuring it is user-friendly and easy to navigate.

    .profile
      img(src="https://i.pravatar.cc/150?img=1", alt="Nouha Lamrani")
      h3 Nouha Lamrani
      p Nouha Lamrani is a creative visionary who came up with the concept for the website and guided its development, ensuring it meets users' needs.

  p Our team is dedicated to providing an exceptional user experience and making sure that the content on the website is up-to-date, relevant, and engaging. We are constantly working to improve the site and expand its offerings, so be sure to check back often for new updates and features.
  a.btn(href="https://www.roehampton.ac.uk", target="_blank") Go to University of Roehampton Page
