extends layout.pug

block content
  h1 WELCOME TO THE WORLD DATABASE
  

  asside
    - const value = sumPopulation['SUM(Population)'];
    h2 The population of the world is: #{Number(value).toLocaleString()}
