extends layout.pug

block head
  link(rel="stylesheet", href="/index.css")
  


block content
  h1 WELCOME TO THE WORLD DATABASE
  - const value = sumPopulation['SUM(Population)'];
  p(class = "text") The Population Of The World Is: 
  h2(class = "counter") #{Number(value).toLocaleString()}
