extends layout.pug

block head
  link(rel="stylesheet", href="/index.css")

block content
  .intro
    h1(class="title") WELCOME TO THE WORLD DATABASE
    - const population = sumPopulation['SUM(Population)'];
    p(class="text") The population of the world is: 
    h2(class="counter counter-animation") #{Number(population).toLocaleString()}

   