doctype html
html(lang="en")
  head
    title World Database
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet", href="/navigation.css")
    block head
  body
    .layout
      .layout-nav
        include mixins/nav
        +navigation()
        
      .layout-content
        block content
