extends layout.pug

block head
  link(rel="stylesheet", href="/index.css")
  link(rel="stylesheet", href="/update.css")


block content 
  h2 Update the Database 
  p please write all these information to be updated to the database.
  form(action='/api/update', method='POST')
  label(for='countryname') Enter your Country name:
  input('name'='countryname', type='countryname', required)
  label(for='countrycode') Enter your Country code:
  input('name'='countrycode', type='countrycode', required)
  label(for='district') Enter your District:
  input('name'='district', type='district', required)
  label(for='population') Enter your Population:
  input('name'='population', type='population', required)
  input(type='submit' value='Submit')
    
    
