extends layout.pug

block head
  link(rel="stylesheet", href="/index.css")
  link(rel="stylesheet", href="/update.css")


block content
  .form-container
    h2 Login

    form(action='/login', method='POST')
      .form-group
        label(for='email') Email address
        input#email(type='email', name='email', required)
        #emailHelp We'll never share your email with anyone else.
      .form-group
        label(for='password') Password
        input#password(type='password', name='password', required)
      button(type='submit') Submit
