.about {
  display: grid; /* Sets the display property of .about to grid */
  grid-template-columns: repeat(4, 1fr); /* Defines the grid template columns for .about to repeat 4 columns each with a width of 1fr (fraction) */
  gap: 2rem; /* Sets the gap between grid items within .about to 2rem */
}
  
  .profile {
    border: 2px solid #ddd;  /* Sets a 2px solid border with color #ddd for .profile */
    border-radius: 10px; /* Sets a border radius of 10px for .profile */
    padding: 1rem; /* Sets the padding for .profile to 1rem */
    background-color: #fff;/* Sets the background color of .profile to #fff (white) */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sets a box shadow for .profile with offset-x of 0px, offset-y of 4px, blur radius of 8px, and color rgba(0, 0, 0, 0.1) */
    transition: all 0.2s ease-in-out; /* Applies a transition effect with a duration of 0.2s and an easing function of ease-in-out to all properties of .profile */
    
  }
  
  .profile:hover {
    transform: translateY(-5px);/* Applies a translateY transformation of -5px (moves the element 5 pixels up) on hover for .profile */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);/* Modifies the box shadow for .profile on hover with a blur radius of 16px */
  
  }
  
  .profile img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  
  .profile h3 {
    margin: 1rem 0;
    font-size: 1.2rem;
    color: #333;
  }
  
  .profile p {
    font-size: 1rem;
    color: #666;
    line-height: 1.2;
  }
  .btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #10a50e;
    color: white;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .btn:hover {
    background-color: #ffd700;
    color: #0077b6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  